*.[oa]
*˜
*.ko
*.mod.c
Module.symvers
*.o.cmd
*.cgi
*.so
*.ko.cmd
pgsql/bin/
pgsql/include/
pgsql/lib/
pgsql/share/
mapps/html/cgisrc/yui/
target-mode/fc/qla2xxx
target-mode/fc/isp
modules.order
*.unsigned.cmd
.tmp_versions
*.unsigned
masterd/mdaemon
scctl/bdconfig
scctl/dbrecover
scctl/fcconfig
scctl/ndconfig
scctl/qclone
scctl/qmapping
scctl/qmirror
scctl/qmirrorcheck
scctl/qsync
scctl/rundiag
scctl/scctl
scctl/spconfig
scctl/vdconfig
target-mode/iscsi/usr/ietadm
target-mode/iscsi/usr/ietd
build/quadstorclientrhel6.spec
build/quadstorcorerhel6.spec
build/quadstoritfminrhel6.spec
build/quadstoritfrhel6.spec
vnode_if.h
vnode_if_newproto.h
vnode_if_typedef.h
others/pidof/pidof
scctl/cam
*-e
@
export_syms
machine
opt_cam.h
opt_ddb.h
opt_isp.h
x86
bus_if.h
device_if.h
pci_if.h
target-mode/fc/isp9.0/isp9.0
