*.[oa]
*˜
*.ko
*.mod.c
Module.symvers
*.o.cmd
*.cgi
*.so
*.ko.cmd
pgsql/bin/
pgsql/include/
pgsql/lib/
pgsql/share/
mapps/html/cgisrc/yui/
target-mode/fc/qla2xxx
target-mode/fc/isp
modules.order
*.unsigned.cmd
.tmp_versions
*.unsigned
masterd/mdaemon
scctl/bdconfig
scctl/dbrecover
scctl/fcconfig
scctl/ndconfig
scctl/qclone
scctl/qmapping
scctl/qmirror
scctl/qmirrorcheck
scctl/qsync
scctl/rundiag
scctl/scctl
scctl/spconfig
scctl/vdconfig
target-mode/iscsi/usr/ietadm
target-mode/iscsi/usr/ietd
